@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.googleapis.com/css?family=Merriweather:900|Roboto)
}

@font-face{
    font-family: 'Merriweather';
    src: url(https://fonts.googleapis.com/css?family=Merriweather:900|Roboto)
}
body{
    width: 625px;
    color: white;
    
    
}
h1{
    font-family: 'Merriweather';
    font-weight: 900;
    border-bottom: 15px;
    border-top: 30px solid transparent;
    margin: unset

    
    
}
p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    border-bottom: 20px solid transparent;
    width: 500px
}
.zuta{
    background-image: url("file:///C:/Users/nikol/Desktop/slike/žuta.jpg");
    background-position: right;
    background-size: cover;
    padding-left: 25px;
    height: 295px;
    border-bottom: 25px solid rgb(206, 205, 205);
    
}
.roza{
    background-image: url("file:///C:/Users/nikol/Desktop/slike/roza.jpg");
    background-size: cover;
    background-position: right;
    padding-left: 25px;
    height: 275px;
    border-bottom: 25px solid rgb(206, 205, 205);
}
.siva{
    background-image: url("file:///C:/Users/nikol/Desktop/slike/telefon.jpg");
    background-size: cover;
    background-position: right;
    padding-left: 25px;
    height: 275px
}
.chip{
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 15px;
    background-color: rgba(243, 243, 243, 0.226);
    outline: 5px solid transparent;
}
.chips{
    box-sizing: content-box;
    max-width: 525px;
    border-bottom: 20px solid transparent;
    border: 5px solid transparent
}


